[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest
[submodule "deps/cereal"]
	path = deps/cereal
	url = https://github.com/USCiLab/cereal
[submodule "deps/flamegraph"]
	path = deps/flamegraph
	url = https://github.com/brendangregg/FlameGraph
[submodule "deps/sse2neon"]
	path = deps/sse2neon
	url = https://github.com/DLTcollab/sse2neon
