# This ignores all binaries (files without any extension)
# It has to come first in the gitignore because it does
# so destructively. Begin by ignoring all:
*
# Unignore all with extensions:
!*.*
# Unignore all dirs:
!*/

# VSCode settings
.vscode
.cache
compile_commands.json

# CMake Build and Testing output
__pycache__
build
caramel.egg-info

# Standard CMake gitignores
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
DartConfiguration.tcl
_deps

# Mac stuff
.DS_Store

# Wheels
dist

# Temporary
Testing
.pytest_cache

# Builds
src/*.cmake
tests/*.cmake
*.a
*.so

# Dependencies
deps/
*.tar.gz
*.tar.bz2
*.zip
